.itemBorder {  BORDER-RIGHT: #808080 0px solid; BORDER-TOP: #808080 0px solid; BORDER-LEFT: #808080 0px solid; BORDER-BOTTOM: #808080 0px solid}
.itemText {  FONT: 12px Arial, Helectiva; COLOR: #ffffff; TEXT-DECORATION: none}
.crumbs {  font: bold 10pt "Trebuchet MS", Verdana, sans-serif; color: #999999}
font {  font: bold 10pt Arial, Helvetica, sans-serif; color: #000000}
h1 {  font: bold 14pt Arial, Helvetica, sans-serif; color: #444499}
h2 {  font: bold 13px Arial, Helvetica, sans-serif; color: #444499}
h3 {  font: bold 10px Arial, Helvetica, sans-serif; color: #444499}
ul { font: normal 9pt Arial, Helvetica, sans-serif; color: #000000}
p {  font: normal 9pt Arial, Helvetica, sans-serif; color: #000000}
a {  font: bold 12px Arial, Helvetica, sans-serif; color: #0033CC}

.tabletitle {  font-family: "Trebuchet MS", Verdana, sans-serif; font-size: 12px; font-weight: bold; color: #333399}
.tabledata {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: justify;
}
ol {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #666666}
.accentletter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #0033CC;
	font-style: italic;

}
